@import 'tailwindcss';

@layer base {
  :root {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.154 0.024 273.9);
    --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.154 0.024 273.9);
    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.154 0.024 273.9);
    --color-primary: oklch(0.239 0.014 273.9);
    --color-primary-foreground: oklch(0.98 0 0);
    --color-secondary: oklch(0.959 0.011 273.9);
    --color-secondary-foreground: oklch(0.239 0.014 273.9);
    --color-muted: oklch(0.959 0.011 273.9);
    --color-muted-foreground: oklch(0.508 0.009 273.9);
    --color-accent: oklch(0.959 0.011 273.9);
    --color-accent-foreground: oklch(0.239 0.014 273.9);
    --color-destructive: oklch(0.659 0.265 25.94);
    --color-destructive-foreground: oklch(0.98 0 0);
    --color-border: oklch(0.9 0.013 273.9);
    --color-input: oklch(0.9 0.013 273.9);
    --color-ring: oklch(0.239 0.014 273.9);
    --radius: 0.5rem;
  }

  .dark {
    --color-background: oklch(0.154 0.024 273.9);
    --color-foreground: oklch(0.98 0 0);
    --color-card: oklch(0.154 0.024 273.9);
    --color-card-foreground: oklch(0.98 0 0);
    --color-popover: oklch(0.154 0.024 273.9);
    --color-popover-foreground: oklch(0.98 0 0);
    --color-primary: oklch(0.98 0 0);
    --color-primary-foreground: oklch(0.239 0.014 273.9);
    --color-secondary: oklch(0.204 0.009 273.9);
    --color-secondary-foreground: oklch(0.98 0 0);
    --color-muted: oklch(0.204 0.009 273.9);
    --color-muted-foreground: oklch(0.676 0.012 273.9);
    --color-accent: oklch(0.204 0.009 273.9);
    --color-accent-foreground: oklch(0.98 0 0);
    --color-destructive: oklch(0.377 0.157 25.94);
    --color-destructive-foreground: oklch(0.98 0 0);
    --color-border: oklch(0.204 0.009 273.9);
    --color-input: oklch(0.204 0.009 273.9);
    --color-ring: oklch(0.855 0.012 273.9);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
